div {
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
}
.cssbleutrace{
    background: lightblue;
    text-decoration: line-through ;
}
.csshover{
    font-family: Arial;
}
.cssyes{
    color: white;
    background: springgreen;
    border: solid 0px black;
}
.test{
    font-family: Arial;
}
