/*
Auteur: Benoît Pierrehumbert
Date: 10/11/2019
Projet: Site Trensport voyage d'étude
*/
body{
  font-family: Arial;
    margin-top: 10px;
}
.colorclassic{
  background-color: #DC3545;
  color: black;
}
.colormarwan{
  background-color: #2ECCFA;
  color:black;
}
.navtransport{
  text-align: center;
  margin-top: 50px;
}
.cmd{
  margin-right: 2%;
}
.login{
    position: relative;
    float: right;
    margin-top: -125px;
}
.formulaires{
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px groove;
  border-color: #5a6268;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.aller{
  width: 100%;
}
.public_transport{
  width: 100%;
}
.retour{
  width: 100%;
}
.lignevide{
  height: 45px;
}
.infoflight2{
  margin-bottom: 45px;
}
.maps{
  margin-top: 45px;
}
.herearivat{
    margin-top: 2px;
}
#cbx{
  padding-left: -75px;
}
button{
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 2.2em;
    transition: 0.5s;
    border-radius: 8px;
    margin-bottom: 5px;
}
button:hover {
    background-color: #A1DDA4;
}
button:active{
    text-decoration: underline;
}
a{
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

.login{
    position: relative;
    float: right;
    margin-top: -125px;
}
#lufthansa{
    color: black;
}
.disabledprimary{
    background-color: #0a2613;
}
.disableddanger{
    background-color: #2e0b10;
}
